# $FreeBSD: head/etc/mtree/BSD.sendmail.dist 346682 2019-04-25 16:45:24Z manu $
#
# Please see the file src/etc/mtree/README before making changes to this file.
#

/set type=dir uname=root gname=wheel mode=0755
.               nochange
    var             nochange
        spool           nochange tags=package=runtime
            clientmqueue    uname=smmsp gname=smmsp mode=0770
            ..
        ..
    ..
..
